### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.run

### Prettier ###
.prettierrc

### pastas ###
.mvn/
out/
target/