.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os cards */
  padding: 20px;
  position: relative; /* Garante que os elementos filhos respeitem o layout */
}

.product-card {
  background: #333;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 100%;
  min-height: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Garante que o texto fique centralizado */
  gap: 10px; /* Espaçamento entre os elementos */
}

.product-card:hover {
  background: linear-gradient(135deg, #444, #555); /* Gradiente mais claro no hover */
  transform: translateY(-5px); /* Eleva o cartão levemente */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra no hover */
}

.product-image {
  width: 100%;
  max-height: 60%; /* Limita a altura máxima da imagem */
  object-fit: contain; /* Garante que a imagem seja cortada proporcionalmente */
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h2 {
  margin: 10px 0;
  font-size: 1.2rem;
  line-height: 1.2;
  overflow: auto; /* Evita que o texto ultrapasse os limites */
  text-overflow: ellipsis; /* Adiciona "..." se o texto for muito longo */
  white-space: nowrap; /* Mantém o texto em uma única linha */
}

.product-card p {
  margin: 5px 0;
  font-size: 1rem;
  line-height: 1.1;
}