.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os cards */
  padding: 20px;
  position: relative; /* Garante que os elementos filhos respeitem o layout */
}

.product-card {
  background: #333;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 100%;
  min-height: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Garante que o texto fique centralizado */
  gap: 10px; /* Espaçamento entre os elementos */
}

.product-card:hover {
  background: linear-gradient(
    135deg,
    #444,
    #555
  ); /* Gradiente mais claro no hover */
  transform: translateY(-5px); /* Eleva o cartão levemente */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra no hover */
}

.product-image {
  width: 100%;
  max-height: 60%; /* Limita a altura máxima da imagem */
  object-fit: contain; /* Garante que a imagem seja cortada proporcionalmente */
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h2 {
  margin: 10px 0;
  font-size: 1.2rem;
  line-height: 1.2;
  overflow: auto; /* Evita que o texto ultrapasse os limites */
  text-overflow: ellipsis; /* Adiciona "..." se o texto for muito longo */
  white-space: nowrap; /* Mantém o texto em uma única linha */
}

.product-card p {
  margin: 5px 0;
  font-size: 1rem;
  line-height: 1.1;
}

/* Container principal */
.product-list-container {
  position: relative;
}

/* Contêiner que envolve o ícone e o dropdown */
.categories-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

/* Ícone de categorias */
.categories-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #cea41a;
  color: white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.categories-icon:hover {
  background-color: #b37d00;
}

/* Dropdown de categorias */
.categories-dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #7d6919;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  transition: background-color 1s ease;
}

.category-item {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.category-item:hover {
  background-color: #f5f5f5;
}
