.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: #333;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.3s ease, transform 0.2s ease; /* Adiciona transição suave */
  cursor: pointer; /* Altera o cursor para "mão" */
}

.product-card:hover {
  background: linear-gradient(135deg, #444, #555); /* Gradiente mais claro no hover */
  transform: translateY(-5px); /* Eleva o cartão levemente */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra no hover */
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product-card h2 {
  margin: 10px 0;
}

.product-card p {
  margin: 5px 0;
}